.wallet-input {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
}

.wallet-input input {
  padding: 10px;
  margin-right: 0; 
  border: 1px solid #ccc;
  border-radius: 10px; 
  width: 300px;
  background-color: white;
  color: black;
  height: 30px;
}

.wallet-input button {
  padding: 8px 12px; 
  border: 1px solid black;
  background-color: white; 
  color: black; 
  cursor: pointer;
  border-radius: 10px; 
  margin-left: 2px; 
  height: 30px; 
  font-size: 0.8em;
}

.wallet-input button:hover {
  background-color: #ccc; 
}

.warning {
  color: red;
  margin-top: 2px; 
  font-size: 0.75em; 
  text-align: center;
  height: 1em; 
}
